@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .max-w-small {
    max-width: 10rem;
  }
  .ml-30 {
    margin-left: 15rem;
  }
  .account-nav-width {
    width: 15rem;
  }
  .custom-gradient {
    background: linear-gradient(
      110deg,
      theme("colors.lightGrad"),
      theme("colors.darkGrad")
    );
    @apply text-white w-full;
  }
}
body {
  font-family: "Poppins", sans-serif;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="time"],
textarea,
select {
  @apply w-full border py-2 px-3 rounded-md;
}
textarea {
  height: 140px;
}
button {
  @apply bg-lightPrimary text-white px-2;
}
button.primary {
  @apply bg-primary p-2 w-full text-white rounded-md;
}
button.transparent {
  @apply absolute text-white bg-black p-2 bg-opacity-50 rounded-md;
}
div.inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 0.5rem;
}
div.outer {
}
div.min-size {
  min-height: 10rem;
  min-width: 10rem;
}
