@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .max-w-small {
    max-width: 10rem;
  }
}
body {
  background: theme("colors.lightGrey");
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea {
  @apply w-full border my-1 py-2 px-3 rounded-2xl;
}
textarea {
  height: 140px;
}
button {
  @apply bg-gray-300;
}
button.primary {
  background-color: #f5385d;
  @apply bg-primary p-2 w-full text-white rounded-2xl;
}
button.transparent {
  @apply absolute text-white bg-black p-2 bg-opacity-50 rounded-2xl;
}
